


<main>
    <figure class="logo-imagem">
        <img src="~/img/Logo.svg" alt="" />
    </figure>
    <div class="logo-texto">
        <h1 class="texto-hub">Hub</h1>
        <h1 class="texto-arena">Arena</h1>
    </div>
    <span class="texto-slogan">Alugue. Jogue. Conquiste.</span>
    <a class="btn-entrar" asp-area="Identity" asp-page="/Account/Login"> ENTRAR </a>
    <a class="texto-criar-conta" asp-area="Identity" asp-page="/Account/Register">Ainda não possuo uma conta</a>
</main>
