@using HubArena.Business.Enums
@model FuncionarioViewModel

<form asp-action="AtualizarEndereco" id="frm-atualizar-endereco">
    <div class="modal-body">
        <input type="hidden" asp-for="Endereco.IdEndereco" />
        <input type="hidden" asp-for="Endereco.IdFuncionario" />

        <partial name="_Endereco" />
        <div class="container-btn-form">
            <button type="button" class="btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn-atualizar" id="btn-atualizar">Atualizar</button>
        </div>
    </div>

</form>


<script>
    BuscarCep();
    $(".btn-atualizar").click(function () {
        $("#frm-atualizar-endereco").submit();
    });
</script>




