@using HubArena.Business.Enums
@model FuncionarioViewModel

<form asp-action="AtualizarEndereco" id="frm-atualizar-endereco">
    <div class="modal-body">
        <input type="hidden" asp-for="Endereco.IdEndereco" />
        <input type="hidden" asp-for="Endereco.IdFuncionario" />

        <partial name="_Endereco" />
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" id="btn-atualizar">Atualizar</button>
    </div>
    
</form>


<script>
    BuscarCep();
    $("#btn-atualizar").click(function () {
        $("#frm-atualizar-endereco").submit();
    });
</script>




