table {
    font: 400 17px var(--fonte-secundaria);
    vertical-align: top;
    border: 3px solid var(--cor-primaria);
    border-radius: 3px;
    width: 90%;
    margin: 20px auto;
}

th, tr, td {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

tr {
    border-bottom: 3px solid var(--cor-primaria);
    padding: 14px;
}

tr:last-child {
    border: none;
}

td {
    margin: 7px 0;
}

@media (min-width: 1024px) {
    table {
        font: 400 20px var(--fonte-secundaria);
    }
}
