<head>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/headerLogo.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <figure class="logo-imagem">
                <img src="~/img/logo.svg" alt="" />
            </figure>
            <div class="logo-texto">
                <h1 class="texto-hub">Hub</h1>
                <h1 class="texto-arena">Arena</h1>
            </div>
        </div>
        <img class="logo-user" src="~/img/user.svg" alt="">
    </div>
</body>
</html>
