@model HubArena.App.ViewModels.EquipamentoViewModel

<link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />

<partial name="_HeaderLogo"></partial>

<div class="container-info">
    <a asp-action="Index">
        <img src="~/img/arrow.svg" alt="">
    </a>
    <h1 class="titulo">EQUIPAMENTOS</h1>
</div>
<h2 class="subtitulo">Cadastro</h2>


<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusEquipamento" class="control-label"></label>
                <input asp-for="StatusEquipamento" class="form-control" type="text"/>
                <span asp-validation-for="StatusEquipamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEsporte" class="control-label"></label>
                <select asp-for="IdEsporte" class="form-select" asp-items="@(new SelectList(Model.Esportes, "IdEsporte", "Nome"))"></select>
                <span asp-validation-for="IdEsporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CADASTRAR" class="btn-form-cadastrar" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
