@using HubArena.Business.Enums
@model IEnumerable<HubArena.App.ViewModels.EquipamentoViewModel>

<link rel="stylesheet" href="~/css/tabelas.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<partial name="_HeaderLogo"></partial>

<h1 class="titulo">EQUIPAMENTOS</h1>
<div class="container-create">
    <a asp-action="Create" class="subtitulo">
        <img src="~/img/plus.svg" alt="">
        Adicionar novo equipamento
    </a>
</div>

<table>
	
	<tbody>
		@foreach (var item in Model)
		{
			var statusEquipamento = item.StatusEquipamento switch
			{
				(int)StatusEquipamentoEnum.Disponivel => "Disponível",
				(int)StatusEquipamentoEnum.EmUso => "Em Uso",
				(int)StatusEquipamentoEnum.Reservado => "Reservado",
				(int)StatusEquipamentoEnum.Manutencao => "Em Manutenção",
				(int)StatusEquipamentoEnum.Danificado => "Danificado",
				(int)StatusEquipamentoEnum.Indisponivel => "Indisponível",
			};
            <tr>
                <td>
                    COD.@Html.DisplayFor(modelItem => item.IdEquipamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="td-status">
                    @statusEquipamento
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Esporte.Nome)
                </td>
                <td class="td-view">
                    <a asp-action="Details" asp-route-id="@item.IdEquipamento">
                        <img src="~/img/view.svg" alt="View" />
                    </a>
                </td>
            </tr>
		}
	</tbody>
</table>
