@model HubArena.App.ViewModels.EsporteViewModel

<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<partial name="_HeaderLogo"></partial>

<div class="container-info">
    <a asp-action="Index">
        <img src="~/img/arrow.svg" alt="">
    </a>
    <h1 class="titulo">ESPORTES</h1>
</div>
<h2 class="subtitulo">Detalhes</h2>

<div class="container-dados">
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dd class="col-sm-10 componente-editar">
            <a asp-action="Edit" asp-route-id="@Model?.IdEsporte">
                <img src="~/img/pencil.svg" />
            </a>
        </dd>
    </dl>
</div>
<div class="componente-apagar">
    <span>Apagar</span>
    <a asp-action="Delete" asp-route-id="@Model?.IdEsporte">
        <img src="~/img/trash.svg" />
    </a>
</div>
