@page
@model LoginModel

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<a asp-controller="Home" asp-action="Index" class="logo-container">
    <figure class="logo-imagem">
        <img src="~/img/logo.svg" alt="" />
    </figure>

    <div class="logo-texto">
        <h1 class="texto-hub">Hub</h1>
        <h1 class="texto-arena">Arena</h1>
    </div>
</a>
<main>
    <div class="login-container">
        <h1 class="texto-login">LOGIN</h1>


        <form action="./funcionario/homepage.html">
            <div class="container-form">
                <label for="">Usuário</label>
                <input type="text" name="usuario" id="usuario" />
            </div>
            <div class="container-form">
                <label for="">Senha</label>
                <input type="password" name="senha" id="senha" />
            </div>
            <button class="btn-form" type="submit">LOGIN</button>
        </form>

        <a href="/index.html" class="recuperar-senha">Esqueci minha senha</a>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
